.App {
  box-sizing: border-box;
  background-color: #282c34;
  padding: 40px;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  margin-bottom: 20px;
  display: flex;
}

.App-logo {
  margin-bottom: 20px;
}

.App-logo svg {
  width: 50px;
  height: 50px;
}

.App-logo svg path:hover {
  fill: rgb(255, 255, 255, 0.9);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}