.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /*pointer-events: none;*/
}
.App-logo svg {
  width: 370px;
  height: 370px;
}
.App-logo svg path {
  fill: #61dafb;
}
.App-logo svg path:hover {
  fill: #618dfb;
}
.App-logo svg circle {
  fill: #ffe986;
}
.App-logo svg circle:hover {
  fill: #e26223;
}

.right-circle-icon svg {
  width: 70px;
  height: 70px;
}
.right-circle-icon svg:hover {
  fill: #618dfb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
